%a{ href: "/posts/#{post.id}", alt: "#{post.title}"}
  .gray-box
    %img.med-icon.pull-left{ src: (post.category.image) }
    .preview-wrapper 
      %h2
        = post.title
      %span.tiny-txt
        = pretty_date(post.created_at)
      %p 
        = truncate(post.body)