.content-wrapper
  .row 
    %img.lg-icon.pull-left{ src: (@post.category.image)}
    .hdr-cont
      %h1.post-header{ style: "color : #{@post.category.color}"}
        = @post.title
    %p.margin-top 
      = pretty_date(@post.created_at) 

      .addthis_toolbox.addthis_default_style.addthis_32x32_style
        %a.addthis_button_facebook
        %a.addthis_button_twitter
        %a.addthis_button_google_plusone_share
        %a.addthis_button_linkedin
      %script{ type: "text/javascript", src: "//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-5327511b2261ddb1" }

    %p
      = @post.body
    
    = haml :"/posts/_comments", locals: { post: @post }

    .clear
      %form{ action: "/post/#{@post.id}/comments", method: "post" }
        = haml :"shared/_errors", locals: {obj: @comment}

        %input{ type: "hidden", name: "comment[post_id]", value: "#{@post.id}" }

        %label{ for: "comment_body" }
        %textarea#post_body.pull-right{ name: "comment[body]", rows: "5" }
          - if @comment.body.present?
            = @comment.body
          - else
            leave a reply...
        %br

        %input.btn.pull-right{ type: "submit", value: "comment" }

        %input.pull-right.margin-right.margin-top{ id: "comment_name", name: "comment[name]", type: "text", value: "name"}
        %label.pull-right.margin-top{ for: "comment_name" }
          %i.fa.fa-user.user-icon